@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

body {
  background-color: #01012B;
  font-family: 'Lato', sans-serif;
  color: #575F7D;
  font-size: 16px;
  line-height: 1;
}

h1 {
  color:#01012B;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  font-size: 32px;
  font-weight: 700;
}

h2 {
  color: #5E21D2;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #575F7D;
  font-size: 32px;
  cursor: pointer;
}

.container {
  width: 900px;
  margin: 40px auto;
}

.card {
  background-color: white ;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color:#575858;
}
.list-inline i:hover {
  color: black;
}

.btn {
  background-color: #575858;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 16px;
}

.btn:hover {
  background-color: black;
}

.img-circle {
  border-radius: 50%
}

#socials {
  padding: 10px 10px;
}
#introduction p {
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
